
@{
    ViewBag.Title = "LoggedIn";
}

<h2>LoggedIn</h2>


<p>A quale funzionalità vuoi accedere?</p>
@Html.ActionLink("Aggiungi Prenotazione", "NuovaPrenotazione", "Prenotazioni")
@Html.ActionLink("Servizi aggiuntivi prenotati", "NuovoServizio", "Servizi")